<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Practicando Fetch</title>
  </head>
  <body>
    <div id="app">
      <div class="homeMsg">
        <div class="logo">
          <img src="./img/logoPerspektiva.png" alt="Logo de Perspketiva" />
        </div>
        <div class="mensaje">
          <h2 v-if="currentUser === null">Bienvenid@,</h2>
          <h1>Haz Realidad tu Negocio</h1>
        </div>
      </div>
      <div class="form-control" v-if="currentUser === null">
        <select v-model="DOC_ID_SELECTED" class="form-control-select">
          <option disabled value="">Documento Identidad</option>
          <option v-for="(DOC_ID, index) in DOCS_ID" :key="index">
            {{DOC_ID}}
          </option>
        </select>
        <input
          type="text"
          name="numDocId"
          id="inputNumDocId"
          placeholder="Num. Doc. Identidad"
          v-model="numDocId"
        />
        <button @click="buscar">Cargar</button>
      </div>

      <div v-else class="detalleConsulta">
        <div class="detalleConsulta-saludo">
          <p>{{bienvenide}},</p>
          <span>{{nombreMostrar}}</span>
        </div>
        <!-- <div v-if="currentUser !== null"> -->

        <div class="detalleConsulta-asistencia">
          <p>Registro de asistencia</p>
          <table
            class="detalleConsulta-asistencia-registro"
            summary="Registro de asistencias"
          >
            <thead>
              <tr>
                <th scope="col">Módulo / Sesiones</th>
                <th scope="col">Sesión <br />1</th>
                <th scope="col">Sesión <br />2</th>
                <th scope="col">Sesión <br />3</th>
                <th scope="col">Sesión <br />4</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Habilidades Blandas</th>
                <td v-for="presence in arrHB">{{makeCuteArr(presence)}}</td>
              </tr>
              <tr>
                <th scope="row">Educación Financiera</th>
                <td v-for="presence in arrEF">{{makeCuteArr(presence)}}</td>
              </tr>
              <tr>
                <th scope="row">Costos y Finanzas</th>
                <td v-for="presence in arrCF">{{makeCuteArr(presence)}}</td>
              </tr>
              <tr>
                <th scope="row">Administración de Empresas</th>
                <td v-for="presence in arrAE">{{makeCuteArr(presence)}}</td>
              </tr>
              <tr>
                <th scope="row">Marketing y Ventas</th>
                <td v-for="presence in arrMK">{{makeCuteArr(presence)}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="detalleConsulta-proxCursos">
          <p class="nombreSeccion">Qué módulos te toca llevar</p>
          <div class="detalleConsulta-proxCursos-parent">
            <div v-for="curso in proxModulos" :key="curso.id" class="detalleConsulta-proxCursos-parent-2">
              <div
                v-if="avaibleCourses.includes(curso.id)"
                class="detalleConsulta-proxCursos-parent-card"
              >
                <p class="nombreCurso">{{curso.name}}</p>
                <span class="nombreProfesor">
                  <i class="ri-user-line"></i>
                  {{curso.profesor}}</span
                ><br />
                <a href="#!">
                  <i class="ri-links-line"></i>
                  Enlace de Zoom
                </a>
                <p class="dias">
                  <i class="ri-time-line"></i>
                  {{curso.dias}}
                </p>
                <p class="horarios">
                  <i class="ri-calendar-check-line"></i>
                  De {{curso.horario}}
                </p>
              </div>
            </div>
          </div>
          
        </div>

        <div class="detalleConsulta-estado">
          <p>Estado en el programa</p>
          {{graduado}} - {{concurso}}
        </div>

        <div></div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <!-- <script src="./components/mensaje.js"></script> -->
    <script src="app.js" type="module"></script>
  </body>
</html>
